<app-viewport class="viewport" [color]="color"></app-viewport>
<div class="toolbox">
  <div class="colors">
    <app-color-picker [(color)]="color" class="color-picker"></app-color-picker>
    <color-circle
      width="40"
      circleSize="40"
      [colors]="swatches"
      [color]="color"
      (onChangeComplete)="color = $event.color.hex"
    ></color-circle>
  </div>
  <app-how-to></app-how-to>
</div>
<div class="copyright">
  &copy;
  <a
    href="https://github.com/Hackder"
    target="_blank"
    (click)="$event.stopPropagation()"
    >Hackder</a
  >
  All rights reserved
</div>
