<app-viewport
  class="viewport"
  [color]="color"
  [isTrackball]="isTrackball"
  [isPerspective]="isPerspective"
></app-viewport>
<div class="toolbox">
  <div class="tools">
    <app-color-picker [(color)]="color" class="color-picker"></app-color-picker>
    <color-circle
      width="40"
      circleSize="40"
      [colors]="swatches"
      [color]="color"
      (onChangeComplete)="color = $event.color.hex"
    ></color-circle>
    <app-circular-checkbox
      class="circular-checkbox trackball-checkbox"
      [(checked)]="isTrackball"
    >
      <img src="./assets/3d_rotation-black.svg" />
    </app-circular-checkbox>
    <app-circular-checkbox
      class="circular-checkbox"
      [(checked)]="isPerspective"
    >
      <img src="./assets/perspective-24dp.svg" />
    </app-circular-checkbox>
  </div>
  <app-how-to></app-how-to>
</div>
<div class="copyright">
  &copy;
  <a
    href="https://github.com/Hackder"
    target="_blank"
    (click)="$event.stopPropagation()"
    >Hackder</a
  >
  All rights reserved
</div>
